{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'module23/module2.css' %}">
{% endblock links %}
{% block title %}
Module 2
{% endblock title %}
{% block body %}
<section class="container-fluid ">
	<section class="row justify-content-center">
		<section class="col-12 col-sm-6 col-md-6">
			<h3 class="pt-3" style="color: #4c6f74;">Seed Cocoon Purchase</h3><br>
			<form class="shadow-lg p-3 mb-5 bg-white rounded" method="post" id="myform">


				{% csrf_token %}
				{{ form|crispy }}


				<button type="submit" class="btn btn-info btn-block btn1">Submit</button>
			</form>
		</section>
	</section>
</section>

<script>
	var validate_procured = function () {
		var e = document.getElementById('field5');
		var t = e.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');


		e.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), 4)) : t;
		var x = document.getElementById('field4').value;
		var y = e.value;
		var z = x * y;
		document.getElementById('field6').value = Math.round(z);


	}

	function pupation_price() {

		var obj = { '80': 950, '81': 953, '82': 956, '83': 959, '84': 962, '85': 965, '86': '968', '87': 971, '88': 974, '89': 977, '90': 980, '91': 983, '92': 986, '93': 989, '94': 992, '95': 995, '96-100': 1000 }
		var x = document.getElementById('pupation').value;
		//var qty_of_seed_cocoon_procured=document.getElementById('qty_of_seed_cocoon_procured').value;
		document.getElementById('cocoon_price').value = obj[x];
		// var a=obj[x];
		// var b=document.getElementById('field5').value;
		// var calc=a*b;
		// document.getElementById('total').value = Math.round(z);

		

	}
	function multi(e) {
		var x = document.getElementById('field5').value;
		var y = document.getElementById('cocoon_price').value;
		var z = x * y;
		document.getElementById('total').value = Math.round(z);
	}
	var validate_actual = function() {
      	var e=document.getElementById('diverted_seed');
          var t = e.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
          

          e.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."),4)) : t;
		  var x = document.getElementById('field5').value;
		  var y=e.value;
		  var z=x-y;
		  document.getElementById('processing').value = z.toFixed(3);

		  
      }
	  function validate_field14(e) {
		var x = document.getElementById('field4').value;
		var y = document.getElementById('diverted_seed').value;
		var z = x * y;
		document.getElementById('diverted_units').value =Math.round(z);
	}
	function validate_field16(e) {
		var x = document.getElementById('field6').value;
		var y = document.getElementById('diverted_units').value;
		var z = x - y;
		document.getElementById('processing_no').value =Math.round(z);
	}

</script>

{% endblock body %}